{% extends 'base.html.twig' %}
{% block title %}Главная страница{% endblock %}
{% block body %}
    <div class="container">
        <h2 style="text-align: center; font-weight: bold; font-size: 60px">Заведения:</h2>
        {% for saloon in saloonsAndDishes %}
            <div style="text-align: center;">
                <img style="width: 800px; text-align: center"
                     src="{{ vich_uploader_asset(saloon['saloon'], 'saloonImageFile') }}"><br>
                <p>
                    <span style="font-size: 25px">
                        Наименование: <a
                                href="{{ path('app_saloonanddish_showsaloonandhimdishes', { 'id' : saloon['saloon'].id } ) }}"> <b>{{ saloon['saloon'].name }}</b></a>
                    </span>
                </p>
                <p style="font-size: 20px">Самые популярные блюда:</p>
                <div style="display: flex; justify-content: space-around; padding:  20px 135px; margin-bottom: 100px">
                    {% for dish in saloon['dishes'] %}
                        <div style="width: 40%; text-align: center">
                            <p><span style="text-align: center"><b>{{ dish['dish'].name }}</b></span></p>
                            <img style="width: 300px"
                                 src="{{ vich_uploader_asset(dish['dish'], 'dishImageFile' ) }}"><br>
                            <span>Количество покупок за последний год: <b>{{ dish['amount'] }}</b></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr style="margin-bottom: 100px">
        {% endfor %}
    </div>
{% endblock %}