{% extends 'base.html.twig' %}
{% block title %}Страница подробного просмотра{% endblock %}
{% block body %}
    <button style="position: fixed; top: 5px;right: 0">
        <a class="btn" href="{{ path('app_saloonanddish_index') }}">Вернуться на главную</a>
    </button>
    <div style="margin-top: 100px" class="container">
        <h1 style="text-align: center; font-weight: bold; font-size: 60px">Добро пожаловать!</h1>
        <div style="text-align: center;">
            <img style="width: 800px; text-align: center"
                 src="{{ vich_uploader_asset(saloon, 'saloonImageFile') }}">
            <br>
            <h2 style="font-size: 40px">
                <b>{{ saloon.name }}</b>
            </h2>
            <p style="margin-bottom: 100px;">
                <b>
                    {{ saloon.description }}
                </b>
            </p>
            <p style="font-size: 20px">Наши блюда:</p>
            <div style="display: flex; flex-wrap: wrap; padding: 20px 135px; margin-bottom: 100px">
                {% for dish in dishes %}
                    <div style="width: 33%; text-align: center; margin-bottom: 100px">
                        <span style="text-align: center"><b>{{ dish.name }}</b></span><br>
                        <img style="width: 300px; margin-top: 30px"
                             src="{{ vich_uploader_asset(dish, 'dishImageFile' ) }}"><br>
                        <span>Цена: {{ dish.price }}</span><br>
                        <p><span>Количество покупок за все время: {{ dish.getCountPurchases }}</span></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



